# local ruby version
.ruby-version

# Logs and database
*.log
*.sqlite
dump.rdb

# Vim stuff
*.swp
*.swo

# Macosx
.DS_Store

# Project Stuff
Procfile.dev
.env


# Rails
/public/system
.rspec

# node
package-lock.json
.nvmrc  
